.tagline {
  padding: 0 20px;
  padding-top: 45px;
  padding-bottom: 35px;
  text-align: center;
}

.tagline__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #283645;
  margin: 0;
}

.tagline__title--top {
    margin-bottom: 35px;
  }

@media (min-width: @tablet-width) {
  .tagline__title--top {
    margin-bottom: 0;
  }

  .tagline__title--bottom {
    display: block;
    width: 450px;
    margin: 0 auto;
  }

  .tagline__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: @tablet-width) {
   .tagline__title--bottom {
      width: 450px;
    }

  .tagline__title {
    font-size: 50px;
    line-height: 60px;
  }
}
