.page-photo {
  margin-bottom: 30px;
}

.users-photo {
  padding: 0 20px;
}

.users-photo__list {
  .reset-list();
}


.users-photo__item--panorama {
  position: relative;
  background-color: #f2f2f2;
}

.users-photo__panorama-tag {
  position: absolute;
  right: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  margin: 0;
  padding: 5px 15px;
  background-color: #d22856;
}

.users-photo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.users-photo__image--panorama {
  max-width: none;
  margin: 0 -20px;
  background-color: #f2f2f2;

}

.users-photo__item {
  margin-bottom: 20px;

  background-color: #f2f2f2;

  flex-grow: 1;
}

.users-photo__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;

  margin-left: 15px;
}

.users-photo__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 100;
  color: #283645;

  text-transform: uppercase;
}

.users-photo__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  margin-left: 15px;
}

.users-photo__reviews {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  margin-left: 15px;

  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .users-photo__image {
    border: 1px solid;
  }

  .users-photo__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;

    border: 1px dotted;


  }

  .users-photo__item {
    width: 300px;
    margin-right: 20px;

    margin-bottom: 20px;
  }

  .users-photo__name {
    margin-left: 30px;
  }

  .users-photo__description {
    margin-left: 30px;
  }
  .users-photo__reviews {
    margin-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .users-photo {
    padding: 0 130px;
  }

  .users-photo__image--panorama {
    max-width: none;
    margin: 0 -130px;

  }

  .users-photo__item {
    margin-bottom: 50px;
  }

}












