.page-header__download {
  margin: 0 auto;
  margin-top: 81px;
  width: 100%;
  position: relative;

  text-align: center;
}

.download__image-wrapper {
  display: block;
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1d2631;

  z-index: 1;
}

.download__slogan {
  display: none;

  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
  color: #ffffff;
}

.download__link-total {
  display: block;

  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 30px;

  width: 280px;
  padding: 10px 0;

  border-radius: 30px;
  border: 3px solid #ffffff;

  background-color: transparent;

  cursor: pointer;

  box-sizing: border-box;
}

.download__list {
  .reset-list();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;

  width: 210px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.download__os-systems {
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  color: #ffffff;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .page-header__download {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }

  .download__image-wrapper {
    &::after {
      position: absolute;
      content: "";
      width: 700px;
      height: 545px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      right: 0;
      top: -12px;
    }
  }

  .page-header__download-image {
    display: none;
  }

  .download__wrapper {
    margin-left: 20px;
    width: 300px;

    background-color: transparent;
  }

  .download__link-total {
    width: 300px;
  }

  .download__slogan {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .page-header__download {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }

  .page-header__download-image {
    display: none;
  }

  .download__image-wrapper {
    &::after {
      position: absolute;
      content: "";
      width: 1050px;
      height: 645px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      right: -100px;
      top: 11px;
    }
  }

  .download__wrapper {
    margin-left: 130px;
  }
}
