@media (min-width: @mobile-width) {
  .timer {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .timer {
    display: block;
  }

  .timer__wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
    background-color: #ffffff;
  }

  .timer__image {
    margin-right: 70px;
  }

  .timer__image svg {
    width: 238px;
  }

  .timer__explanation {
    margin-top: 70px;
  }

  .timer__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;

    width: 170px;

    margin: 0;
    margin-bottom: 12px;
  }

  .timer__description {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    font-weight: 400;

    margin: 0;
    margin-bottom: 10px;
  }

  .timer__link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;

    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .timer__wrapper {
    width: 940px;

    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 0;

    padding: 0;
    padding-bottom: 60px;
    background-color: #f2f2f2;
  }

  .timer__image {
    margin-right: 60px;
  }

  .timer__image svg {
    width: 298px;
  }

  .timer__explanation {
    margin-top: 39px;
  }

  .timer__title {
    margin-top: 50px;
    margin-bottom: 21px;

    width: 570px;
  }

  .timer__description {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .timer__link {
    font-size: 18px;
    line-height: 30px;
  }
}
